# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
cities_df = pd.read_csv("cities.csv")
cities_df

,Unnamed: 0,latitude,longitude,max temp,humidity,cloudiness,wind speed,country,date
0,0,39.9509,48.8994,39.38,72,96,7.40,AZ,1615179139
1,1,-33.6500,115.3333,73.00,71,97,3.00,AU,1615179139
2,2,60.7161,-135.0538,17.60,53,90,5.75,CA,1615179139
3,3,22.0752,-159.3190,73.40,73,75,16.11,US,1615179139
4,4,22.2769,113.5678,77.00,78,40,17.27,CN,1615179139
...,...,...,...,...,...,...,...,...,...
555,555,62.8833,152.4333,-7.87,83,95,3.71,RU,1615179256
556,556,64.0019,44.4451,-14.62,88,57,7.16,RU,1615179257
557,557,-23.7869,-54.2836,68.58,88,0,1.48,BR,1615179257
558,558,-3.6954,128.1814,86.00,66,40,8.05,ID,1615179257
559,559,-20.0064,57.6608,82.00,78,74,1.01,MU,1615179257

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [37]:
gmaps.configure(api_key=g_key)

cities1_df = cities_df[["latitude", "longitude"]].values.tolist()

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(cities1_df, weights=cities_df["humidity"], 
                                dissipating=False, max_intensity=5,
                                point_radius = 1)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure